header{

height: 550px;
margin-top: 0;
}
nav {

    height: 100px;
   
}

footer{
    height: 130px;
   
clear: both;
margin-top: 150px;
}



.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: -40px;
  font-family: Arial;
}
.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 300px;
  justify-content: center;
  perspective: 300px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  --list: #e6a925, #dab247;
	--grad: linear-gradient(45deg, var(--list));
	position: relative;
	border: solid 4px #0000;
	aspect-ratio: 7/ 10;
	border-radius: 1em;
	background: conic-gradient(rgb(0 0 0/ .85) 0 0) padding-box, 
	var(--grad) border-box;
  z-index: 1;
  width: 150px;
  height: 250px;
  border-radius: 12px;
  
  position: absolute;
  transition: all 0.3s ease-in;

    &::before {
      position: absolute;
      inset: 0;
      z-index: -1;
      background: var(--grad);
      filter: blur(.85em);

      content: ''
      
    }
 

}
.carousel__item[data-pos="0"] {
  z-index: 5;
}
.carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}
.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(0.9);
  z-index: 4;
}
.carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}
.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(0.8);
  z-index: 3;
}
.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(0.8);
  z-index: 3;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{ box-sizing: border-box; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; scroll-behavior: smooth;}
html, body { height: 100%; ;}
body{
    background: #000;   
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Poppins;
    background: #000;
    clear: both;
    font-size: calc(var(--_size) * 0.022);
    --_factor: min(1000px, 100vh);
    --_size: min(var(--_factor), 100vw);
}
svg.filters { height:0; width: 0; position: absolute; z-index:-1; }
.header-text {
    color: #c8c2bd;
    font-size: 3em;
    text-align: center;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
}
.glow-filter{
    position: relative;
    display: inline-block;
    scale: 1;

    animation: onloadscale 1s ease-out forwards;
}
.glow-filter::before{
    content: attr(data-text);
    position: absolute;
    pointer-events: none;
    color:  #fffaf6;
    background: linear-gradient(0deg, #dfe5ee 0%, #fffaf6 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: url(#glow-4);
    -moz-filter: url(#glow-4);
    -webkit-filter: url(#glow-4);

    opacity: 0;
    animation: onloadopacity 1s ease-out forwards;
}
@keyframes onloadscale {
    24% { scale: 1; }
    100% { scale: 1.02; }
}
@keyframes onloadopacity {
    24% { opacity: 0; }
    100% { opacity: 1; }
}

p {
    position: relative;
    color:  #86868b;
    font-weight: 600;
    background: linear-gradient(0deg,#86868b 0%, #bdc2c9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     margin: auto;
    height: fit-content;
    translate: 0 12em;
    max-width: 35em;
    padding: 20px;
    text-align: center;
    font-size: calc(var(--_size) * 0.027);
}
p span {
    position: relative;
    display: inline-block;
    -webkit-text-fill-color:#e7dfd6;
    font-weight: 1000;
}

.main_text{
    margin-top: -180px;
}


.bg {
    width: 100%; height: 100%;
    max-width: 47em;
    position: absolute;
    transition: box-shadow 0.5s ease-in-out;
    
}
.fixed-bg {
 
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: box-shadow 0.5s ease-in-out;

}
.bg > div {
    position: absolute;
    scale: 1.1;
    opacity: 0.7;
    
    
}
.bg > div:nth-child(1),
.bg > div:nth-child(2),
.bg > div:nth-child(3),
.bg > div:nth-child(4),
.bg > div:nth-child(5),
.bg > div:nth-child(6) {
    width: 100%;
    height: 100%;
    border-radius: 100em;
    box-shadow:
        inset 0 0 4em 3em rgba(238, 200, 175, 0.2),
        inset 0 0 2em 0.4em rgba(238, 200, 175, 0.2),
        0 0 0.1em 0.1em rgba(238, 200, 175, 0.2),
        0 0 1em 0.4em rgba(238, 200, 175, 0.3),
        0 0 2em 1em rgba(238, 200, 175, 0.3),  
        0 0 4em 2.5em rgba(238, 200, 175, 0.2); 
}

/* Positioning spheres at different parts of the page */
.bg > div:nth-child(1) { translate: 0 -150%; }
.bg > div:nth-child(2) { translate: 0 -10%; }
.bg > div:nth-child(3) { translate: 0 130%; }
.bg > div:nth-child(4) { translate: 0 270%; }
.bg > div:nth-child(5) { translate: 0 410%; }
.bg > div:nth-child(6) { translate: 0 550%; }
@keyframes onloadbgt {
    0% { translate: 0 -70%; opacity: 0.3; }
    100% { translate: 0 -64%; opacity: 0.8; }
}
@keyframes onloadbgb {
    0% { translate: 0 70%; opacity: 0.3; }
    100% { translate: 0 64%; opacity: 0.8; }
}

.scroll::-webkit-scrollbar {
    display: none;
  }
  
  .scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    display: flex;
    justify-items: center;
    
    align-items: center;
    transition: 0.5s;
    font-family: "Lato", sans-serif;
  }
  
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    margin-left: -25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }
  

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
    font-size: 20px;
    border-radius: 12px;
    position: fixed;
    top: 0;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
 
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  ul{
    list-style-type: none;
    text-align: center;
    font-size: 1.3em;
  }
  
  .ikona{
    width: 70px;
}
footer > p {
  z-index: 1000;
}